* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 70px;
}


/* header */
.header {
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    align-items: center;
    padding: 30px;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: white;
    padding: 10px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-right: 20px;
}

.menu li a {
    text-decoration: none;
}

.menu li a:hover {
    color: white;
}

/* penutup header */

/* main */
.hero {
    display: flex;
    height: 550px;
    background-color: #111;
}

.hero .text {
    color: white;
    margin: 100px;
    width: 500px;
}

.hero .text h1 {
    font-size: 40px;
    line-height: 70px;
}

.hero .text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero .text button {
    background-color: #ccc;
    padding: 10px 40px;
}

.hero .gambar {
    color: white;
    border: 1px solid #cccc;
    width: 500px;
    height: 500px;
    margin: auto
}

/* penutup main */

/* kontent */
.title {
    text-align: center;
}

.title span {
    color: red;
}

.learn {
    background-color: rgba(226, 225, 225, 0.8);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 350px;
}

.learn .card {
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

.contact {
    width: 600px;
    height: 400px;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 50px 0;
}

.contact input,
textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact button {
    width: 100px;
    background-color: #ccc;
    padding: 10px 20px;
}

/* penutup konten */

footer {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
}