* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin-top: 70px;
}


nav {
    height: 80px;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    background: #ffffff;
    border: 1px solid #364f6b;
}

.logo {
    height: 60px;
    height: 60px;
    margin: 10px 20px;
    border-radius: 50%;
}

.header {
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 65px;
    padding: 0 15px;
}

nav ul li a {
    color: black;
    padding: 5px 10px;
    border-radius: 10%;
    font-weight: bold;
    text-decoration: none;
}

a.active,
a:hover {
    background: #167994;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* End header */

/* main */
#home {
    font-family: 'comic sans ms';
    margin: auto;
    display: flex;
    margin: 50px;
}

.text-main {
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.text-main h2 {
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}

.text-main p {
    margin: 10px 0px;
    padding: 10px 0px;
}

a.btn-blue {
    text-decoration: none;
    background: #28527a;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.btn-blue:hover {
    background: #cdd0cb;
    color: black;
}

/* penutup main */

/* kontent */
.title {
    text-align: center;
}

.title span {
    color: red;
}

.learn {
    background-color: rgba(226, 225, 225, 0.8);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 350px;
}

.learn .card {
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 30px;
}

.contact {
    width: 600px;
    height: 400px;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 50px 0;
}

.contact input,
textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
}

.contact button {
    width: 100px;
    background-color: #ccc;
    padding: 10px 20px;
}

/* penutup konten */

footer {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
}
